body{
    margin: 0px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #ffffff;

}
p{
    margin: 0;
}

nav{
    background-color: #264653;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;

    display: flex;
}
.fa-keyboard:hover{
    color: #2A9D8F;
}

nav div{
    padding-top: 15px;
}

.navMenu{
    text-decoration: none;
    color: white;
    padding-right: 60px;
    padding-left: 60px;
}

.navMenu:hover{
    text-decoration: none;
    color: #2A9D8F;
    margin-top: 1px;
}

.sectionBorder{
    margin-left: 330px;
    margin-right: 330px;
}
.introductionContent{
    background-color: #2A9D8F;
    padding-bottom: 170px;
}

.headerInformation{
    padding-top: 275px;
    padding-bottom: 275px;
    display: flex;
}

.headerText{
    font-size: 3rem;
}
.headerImg{


}
.headerButton{
    background: #264653;
    border-radius: 67px;
    text-align: center;
    color: #FFFFFF;
}
.headerButton:hover{
    color: #2A9D8F;
}

.mainContent{
    background-color: #264653;
    padding-bottom: 50px;
}

.block{
    height: 355px;
    background-color: #2A9D8F;
    display: flex;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 50px;
    border-radius: 45px;
}


.instructionText{
    margin: 0;
    width: 12rem;
    height: 12rem;
    font-size: 2rem;
    line-height: 2rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.instructionButton{
    background: #264653;
    border-radius: 34px;

    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.instructionButton:hover{
    color: #2A9D8F;
}
.instructionImg{
    width: 662px;
    height: 351px;
}

.changableText{
    text-align: left;
}

.inputText{
    margin-top: 25px;
    background-color: #264653;
    color: white;
}
.statsButton{
    background-color: #2A9D8F;
    border-radius: 67px;
    color: white;

}

.statsButton:hover{
    color: #264653;
}
.statsButton-diffColor{
    background-color: #264653;
    border-radius: 67px;
    color: white;
}
.statsButton-diffColor:hover{
    color: #0ccb7e;
}
.statsInformation{
    display: flex;
    width: 776px;
    height: 55px;
    background: #2A9D8F;
    border-radius: 27.5px;
    margin-left: 260px;
}
.highlight {background-color: #e76868;}
.highlightGreen{background-color: #1dde8f;}

u{
    margin: 0;
    padding: 0;
    animation-name: example;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes example {
    from {opacity: 0.5;}
    to {opacity:1;}
}

#arrowTop {
    height: 9px;
    width: 14px;
    color: #0ccb7e;
    mix-blend-mode: difference;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

#arrowTop::before {
    content: '▲';
}


