body{
    margin: 0px;
    font-family: Inconsolata;
    font-size: 30px;
    color: #ffffff;
}

.mainSection{
    background-color: #264653;
    padding-bottom:15px;
}

.sectionBorder{
    margin-left: 438px;
    margin-right: 438px;
    padding-top: 103px;
}
