body{
    margin: 0px;
    font-family: Inconsolata;
    font-size: 30px;
    color: #ffffff;
}
nav{

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;


    display: flex;

}
nav div{
    padding-top: 15px;
}

.navMenu{
    text-decoration: none;
    color: white;
    padding-right: 100px;
    padding-left: 100px;

}

.mainSection{
    background-color: #264653;
    padding-bottom:15px;
    padding-top: 150px;
}

.sectionBorder {
    margin-left: 330px;
    margin-right: 330px;
}
