body{
    margin: 0px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #ffffff;
}
p{
    margin: 0;
}

nav{
    background-color: #264653;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;

    display: flex;
}

nav div{
    padding-top: 15px;
}

.navMenu{
    text-decoration: none;
    color: white;
    margin-left: 150px;
}

.navMenu:hover{
    color: #2A9D8F;
    margin-top: 1px;
}

.sectionBorder{
    margin-left: 330px;
    margin-right: 330px;
}
.introductionContent{
    background-color: #2A9D8F;
    padding-bottom: 170px;
}

.headerInformation{
    padding-top: 275px;
    display: flex;
}

.headerText{
    margin: 0;
    width: 607px;
    height: 297px;
    font-size: 70px;
    line-height: 73px;
    margin-right: 190px;
    margin-bottom: 27px;
}
.headerImg{
    width: 407px;
    height: 407px;
    border-radius: 65px;
}
.headerButton{
    width: 276px;
    height: 93px;
    background: #264653;
    border-radius: 67px;

    font-size: 60px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}
.headerButton:hover{
    color: #2A9D8F;
}

.mainContent{
    background-color: #264653;
    padding-bottom: 50px;
}

.block{
    height: 355px;
    background-color: #2A9D8F;
    display: flex;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 50px;
    border-radius: 45px;
}


.instructionText{
    margin: 0;
    width: 258px;
    height: 253px;
    font-size: 40px;
    line-height: 42px;
    margin-right: 61px;
    margin-bottom: 14px;
}

.instructionButton{
    width: 191px;
    height: 68px;
    background: #264653;
    border-radius: 34px;

    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.instructionButton:hover{
    color: #2A9D8F;
}
.instructionImg{
    width: 662px;
    height: 351px;
}

.changableText{
    text-align: left;
}

.inputText{
    height: 50px;
    width: 1027px;
    font-size: 30px;
    margin-top: 25px;
    background-color: #264653;
    color: white;
}
.stats{
    height: 55px;
    display:flex;
    margin-top: 50px;
}
.statsButton{
    width: 165px;
    height: 55px;
    background-color: #2A9D8F;
    border-radius: 67px;
    font-size: 38px;
    margin-right: 20px;
    color: white;
}

.statsButton:hover{
    color: #264653;
}
.statsInformation{
    display: flex;
    width: 776px;
    height: 55px;
    background: #2A9D8F;
    border-radius: 27.5px;
    margin-left: 260px;
}

.statsInformationText{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    display: flex;
}
footer{
    background-color: #2A9D8F;
    height: 52px;
}

