body{
    margin: 0px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #ffffff;
}

header{
    background-color: #2A9D8F;
    padding-bottom: 150px;
}

nav{
    background-color: #264653;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;

    display: flex;
}

nav div{
    padding-top: 8px;
}

.navMenu{
    text-decoration: none;
    color: white;
    margin-left: 150px;
}

.sectionBorder{
    margin-left: 330px;
    margin-right: 330px;
}

.headerInformation{
    margin-top: 300px;
    display: flex;
}

.headerText{
    margin: 0;
    width: 607px;
    height: 297px;
    font-size: 70px;
    line-height: 73px;
    margin-right: 107px;
    margin-bottom: 27px;
}
.headerImg{
    width: 407px;
    height: 407px;
    border-radius: 65px;
}
.headerButton{
    width: 276px;
    height: 93px;
    background: #264653;
    border-radius: 67px;

    font-size: 60px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}

.mainContent{
    background-color: #264653;
}

.block{
    height: 355px;
    background-color: #2A9D8F;
    display: flex;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-right: 70px;
    padding-left: 70px;
    margin-bottom: 50px;
    border-radius: 45px;
}


.instructionText{
    margin: 0;
    width: 258px;
    height: 253px;
    font-size: 40px;
    line-height: 42px;
    margin-right: 61px;
    margin-bottom: 14px;
}

.instructionButton{
    width: 191px;
    height: 68px;
    background: #264653;
    border-radius: 34px;

    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.instructionImg{
    width: 662px;
    height: 351px;
}

.changableText{
    width: 832px;
    height: 458px;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
}


