body{
    margin: 0px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    background-color: #264653;
    color: white;
}
nav{
    background-color: #2A9D8F;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
}
.fa-keyboard:hover{
    color: #264653;
}

nav div{
    padding-top: 15px;
}

.navMenu{
    text-decoration: none;
    color: white;
    padding-right: 60px;
    padding-left: 60px;
}

.navMenu:hover{
    text-decoration: none;
    color: #264653;
    margin-top: 1px;
}

.table-striped {
    padding: 16px;
    color: white;
    border-radius: 45px;
}

h1 {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

p1 {
    font-size: 50px;
    color: #2A9D8F;
}

class {
    font-size: 20px;
}